:root {
  --color-60a: #ffffff;
  --color-60b: #ebebeb;
  --color-30a: #d6d6d6;
  --color-30b: #222222;
  --color-10a: #a7c957;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    background-color: var(--color-60a);
    color: var(--color-60a);
  }
}
